---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "../lib/site";
import TagList from "./TagList.astro";

type Post = CollectionEntry<"posts">;

type Props = {
  posts: Post[];
};

const { posts } = Astro.props;
---

<section class="link-list">
  {posts.map((post) => (
    <article>
      <h3><a href={`/posts/${post.data.slug}`}>{post.data.title}</a></h3>
      <p class="subtitle">{post.data.subtitle}</p>
      <sub class="timestamp">{formatDate(post.data.publishedAt)}</sub>
      <TagList tags={post.data.tags} ariaLabel={`${post.data.title} tags`} limit={5} />
    </article>
  ))}
</section>

